.a {
  min-height: 100vh;
  display: flex;
  gap: 0px;
  max-height: max-content;
  /* background-color: green; */
}

.a-title {
  font-weight: bold;
  font-size: 50px;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.a-card.bg {
  position: absolute;
  height: 60vh;
  width: 60%;
  top: 100px;
  left: 100px;
  /* background-color: #333; */
}

.a-right {
  flex: 1;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.a-card {
  height: 70vh;
  width: 70%;
  border-radius: 30px;
  z-index: 9;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #59b266;
  border-radius: 30px;
  /* clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  ); */

  z-index: 10;
}

.techstack_heading {
  height: max-content;
  padding: 20px 0px;
  font-size: 18px;
  font-weight: bold;
}

.tech_items {
  display: grid;
  gap: 20px;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: flex-start; */
  grid-template-columns: auto auto auto auto auto;
  /* grid-template-rows: repeat(4); */
  margin-bottom: 30px;
}

.tech_item {
  height: 80px;
  width: 80px;
  /* background: transparent; */
  object-fit: contain;
  /* padding: 10px; */
}

.tect_item_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px 15px 5px 15px;
}

@media screen and (max-width: 480px) {
  .a {
    flex-direction: column;
    margin-top: 30px;
    min-height: 100vh;
  }
  .a-card {
    height: 30vh;
    width: 50%;
    border-radius: 30px;
    z-index: 9;
  }
  .a-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: max-content;
  }

  .tech_item {
    height: 35px;
    width: 35px;
    background: transparent;
    object-fit: cover;
    border-radius: 5px;
  }
}
