.p {
  max-width: 25vw;
  min-width: 25vw;
  margin: 0px 0px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px;
}

.p.dark {
  max-width: 25vw;
  min-width: 25vw;
  margin: 0px 0px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 10px;
  box-shadow: rgba(254, 254, 254, 0.24) 0px 0px 8px;
  border-radius: 4px;
}

.p-circle {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.p-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-project {
  flex: 1;
}

.p--detail {
  flex: 1;
  display: flex;
  margin: 0px;
  padding: 0px 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.p--detail--wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: max-content;
  padding: 0px 0px;
  gap: 10px;
}

.p-img {
  max-height: 30vh;
  min-height: 30vh;
  width: 100%;
  object-fit: contain;
  height: 200px;
  width: 25vw;
}

.p--desc-desc {
  text-align: left;
}

.p--desc-name {
  /* font-size: 14px; */
  color: rgb(124, 124, 124);
  /* margin-top: 5px; */
}

.p--desc-name--value {
  font-size: 30px;
}

.p--links {
  margin: auto 0px;
  text-align: left;
  color: rgb(138, 138, 138);
}

.stack-items {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.stack_item {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  background: transparent;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 400px) {
  .p {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: max-content;
    padding: 10px;
    margin: 20px auto 40px;
    border-radius: 4px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em;
  }

  .p.dark {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: max-content;
    padding: 10px;
    margin: 20px auto 40px;
    border-radius: 4px;
    box-shadow: rgba(254, 254, 254, 0.24) 0px 0px 8px;
  }

  /* .p-browser {
    height: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(168, 168, 168);
  } */

  .p-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #fff;
  }

  .p-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .p-project {
    flex: 1;
  }

  .p--detail {
    flex: 1;
    display: flex;
    margin: 0px;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .p--detail--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 0px 0px;
    gap: 0px;
  }

  .p-img {
    min-height: max-content;
    width: 100%;
    max-height: 30vh;
    object-fit: contain;
    height: 100%;
  }

  .p--desc-desc {
    text-align: left;
    display: block;
  }

  .p--desc-name {
    font-size: 14px;
    color: rgb(124, 124, 124);
    margin-top: 5px;
  }

  .p--desc-name--value {
    font-size: 22px;
  }

  .p--links {
    margin: auto 0px;
    text-align: left;
    margin: 0px;
    color: rgb(138, 138, 138);
    font-size: 14px;
  }

  .stack-items {
    margin: 8px 0px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }
  .stack_item {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background: transparent;
  }
}
