.p {
  width: 100%;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  padding: 0px;
  height: 380px;
  padding: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/* .p-browser {
  height: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 10px;
  background-color: rgb(168, 168, 168);
} */

.p-circle {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.p-bottom {
  display: flex;
  align-items: center;
}

.p-project {
  flex: 1;
}

.p--detail {
  flex: 0.8;
  display: flex;
  margin: 0px;
  padding: 0px 0px;
  align-items: center;
  justify-content: center;
}

.p--detail--wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: space-between; */
  height: max-content;
  padding: 0px 30px;
  gap: 10px;
}

.p-img {
  height: max-content;
  width: 100%;
  object-fit: contain;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  height: 350px;
}

.p--desc-desc {
  text-align: left;
}

.p--desc-name--value {
  font-size: 30px;
}

.p--links {
  margin: auto 0px;
}

.stack-items {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.stack_item {
  height: 60px;
  width: 60px;
  background: transparent;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .p {
    width: 100%;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding: 0px;
    height: auto;
    padding: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  /* .p-browser {
    height: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(168, 168, 168);
  } */

  .p-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #fff;
  }

  .p-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-project {
    flex: 1;
  }

  .p--detail {
    flex: 0.8;
    display: flex;

    margin: 0px;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
  }

  .p--detail--wrapper {
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    /* justify-content: space-between; */
    height: max-content;
    padding: 0px 00px;
    gap: 5px;
  }

  .p-img {
    height: max-content;
    width: 100%;
    object-fit: contain;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    height: 200px;
  }

  .p--desc-desc {
    text-align: left;
  }

  .p--desc-name--value {
    font-size: 25px;
  }

  .p--links {
    margin: auto 0px;
  }

  .stack-items {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .stack_item {
    height: 40px;
    width: 40px;
    background: transparent;
  }
}
