.c {
  min-height: 100vh;
  position: relative;
}

.c-bg {
  background-color: rgb(72, 181, 77);
  min-height: 100vh;
  width: 20px;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
  box-sizing: border-box;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.c-title {
  font-size: 50px;
  display: flex;
  padding: 50px;
}

.c-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0px;
}

.c-info-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.c-info-item > img {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.c-contact {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 20px 0px;
}

.c-contact-dark {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 20px 0px;
}

.c-contact > input {
  width: 50%;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-size: 16px;
  color: black !important;
  padding: 5px;
}

.c-contact-dark > input {
  width: 50%;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(255, 255, 255) !important;
  padding: 5px;
  background-color: transparent;
}

.c-contact > textarea {
  margin-bottom: 5px;
  width: 80%;
  font-size: 14px;
  border: 1px solid gray;
  padding: 4px;
}

.c-contact-dark > textarea {
  margin-bottom: 5px;
  width: 80%;
  font-size: 14px;
  border: 1px solid gray;
  background-color: transparent;
  padding: 4px;
}

.contact_btn {
  width: 100px;
  height: 40px;
  background-color: #59b256;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px;
    min-height: 90vh;
    max-height: auto;
  }

  .c-title {
    font-size: 25px;
    display: flex;
    padding: 20px;
    margin-left: 20px;
  }

  .c-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .c-info-item {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 20px;
    font-size: 15px;
    width: 80%;
  }

  .c-right {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
  }

  .c-contact {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 20px 40px;
    width: 80%;
  }

  .c-contact-dark {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 20px 40px;
    width: 80%;
  }

  .c-contact > input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    font-size: 16px;
    color: black !important;
    padding: 5px;
  }

  .c-contact-dark > input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255) !important;
    padding: 5px;
  }

  .c-contact > textarea {
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
  }

  .c-contact-dark > textarea {
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
  }

  .c-bg {
    background-color: rgb(72, 181, 77);
    height: 100%;
    width: 20px;
    position: absolute;
  }
}
